.bubble {
  pointer-events: none;
  position: absolute;
  max-width: 320px;
  border-radius: 24px;
  background-color: #eae3c9;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 1.35;
  font-weight: 500;
  color: #1a1a1a;
  -webkit-user-select: none;
  user-select: none;

  /* control transform components separately */
  --tx: 0px;
  --ty: 0px;
  --scale: 0.7;

  transform: translate(var(--tx), var(--ty)) scale(var(--scale));
  opacity: 0;

  transition: opacity 0.25s ease;
}

.bubble.enter-active {
  opacity: 1;
  --scale: 1;
}

.bubble.exit {
  opacity: 0;
  --scale: 0.8;
}

.bubble-debug::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: var(--w);
  height: var(--h);
  border: 2px dashed red;
  pointer-events: none;
}
